@import "tailwindcss";
@import "tw-animate-css";
@tailwind utilities;


@custom-variant dark (&:is(.dark *));

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Quicksand', sans-serif;
}

.container {
  @apply w-[92%] lg:w-[80%] mx-auto
}

:root {
  --background: #ffffff;
  --foreground: #222121;
  --primary: #842929;
  --marquee: #777777;
  --accordion:#eeeeee;
  --contact:#e0e0e0;
}

.dark {
  --background: #0f0f0f;
  --foreground: #ffffff;
  --primary: #cc4040;
  --marquee: #dfdfdfb4;
  --accordion:#131313;
  --contact:#1b1b1b;

}

.btn {
  color: var(--background) !important;
  background-color: var(--foreground) !important;
  @apply px-[20px] py-[10px] rounded-full font-[600] duration-300 cursor-pointer
}

.btn:hover {
  background-color: var(--primary) !important;
}

@layer base {
  body {
    @apply bg-[var(--background)] text-[var(--foreground)];
    font-family: 'Quicksand', sans-serif;
    transition: background-color 0.3s, color 0.3s;
  }
}

.bg {
  @apply bg-[var(--primary)]
}

.color {
  @apply !text-[var(--primary)]
}

.hbg {
  @apply hover:bg-[var(--primary)]
}

.hcolor {
  @apply hover:text-[var(--primary)]
}

.bcolor {
  @apply border-[var(--primary)]
}
.bgacc{
  background-color: var(--accordion);
}
.heading {
  @apply text-[30px] lg:text-[35px] 2xl:text-[40px];
  font-family: 'Ubuntu', sans-serif !important;

}

.para {
  @apply text-[14px] md:text-[15px] lg:text-[16px];
  font-family: 'Quicksand', sans-serif;
  color: var(--foreground) !important;

}

.subheading {
  @apply text-[18px] md:text-[19px] lg:text-[21px];
  font-family: 'Quicksand', sans-serif;
}

.lfont,
h2 {
  font-family: 'Ubuntu', sans-serif !important;
}

.sfont,
h3 {
  font-family: 'Quicksand', sans-serif !important;
}

.pad {
  @apply py-[50px] lg:py-[80px]
}

.mar {
  @apply my-[50px] lg:my-[80px]
}

.marquee-title {
  color: var(--marquee)
}


@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  15% {
    transform: rotate(15deg);
  }

  30% {
    transform: rotate(0deg);
  }

  45% {
    transform: rotate(-15deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.wave-hand {
  display: inline-block;
  transform-origin: bottom center;
  animation: wave 1.8s infinite ease-in-out;
}